.article {
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-right: 200px;

    h1,
    p {
      text-align: center;
      user-select: none;
      margin: 0;
    }

    h1 {
        font-size: 4rem;
    }
    
    p {
        letter-spacing: .5px;
        line-height: 1.8;
        font-size: 1.3rem;
    }

    .divider {
        height: 0;
        width: 200px;
        border-bottom: 2px dashed #e80c7a;
        margin: 40px 0;
    }
}