$focus-color: #e80c7a;

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  left: 20px;
  top: 0;
  overflow: auto;

  .filter-input {
    background: transparent;
    border: none;
    font-size: .85rem;
    margin: 60px 0;
    border: 2px dashed transparent;
    transition: all .3s ease-in-out;
    min-width: 180px;

    &:focus {
      outline: none;
      border-bottom-color: $focus-color;
    }
  }

  a {
    background: transparent;
    border: none;
    font-size: .85rem;
    display: flex;
    flex: none;
    cursor: pointer;
    color: black;
    text-decoration: none;
    transition: all .4s cubic-bezier(.2, 0, 0, 1);
    user-select: none;
    height: 30px;
    align-items: center;

    &:hover {
      color: $focus-color;
    }

    &.active {
      letter-spacing: 5px;
      color: $focus-color;
    }

    &.first-neighbour {
      letter-spacing: 1.5px;
    }

    &.second-neighbour {
      letter-spacing: .3px;
    }
  }
}
