<div class="menu" [@listAnimation]="filteredArticles.length">
  <input placeholder="Filter" class="filter-input" [hidden]="!articles.length" #filterInput>
  <a
    *ngFor="let article of filteredArticles"
    [routerLink]="[]"
    [fragment]="article.id"
    [ngClass]="{'active': article.id === focusedArticle?.id, 'first-neighbour': distanceToActive(article) === 1, 'second-neighbour': distanceToActive(article) === 2}"
    (click)="scrollToElement(article)">
    {{ article.title | titlecase }}
  </a>
</div>
