.loading-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  .content-container {
    flex: auto;
    height: 100%;
    position: relative;

    .article-list {
      height: 100%;
      margin-left: 200px;
    }
  }  
}

