/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 4rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

p,
button,
div,
span {
  font-family: 'Raleway', sans-serif;
}
